:root {
  --bg-color: #f5f5f7;
  --bg-color-dark: #0a0a0a;
  --bg-color-light: rgba(232, 232, 237, 0.72);
  --accent-color: #7b2cbf;
  --accent-glow: #9d4edd;
  --text-main: #ffffff;
  --text-secondary: #a0a0a0;

  --glass-bg: rgba(255, 255, 255, 0.05); /* Nền kính trong suốt 5% */
  --glass-border: rgba(255, 255, 255, 0.1); /* Viền kính mờ */
  --glass-blur: 10px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* cấm cuộn ngang */

  font-family:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue",
    sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.5;
  font-style: normal;
  position: relative;

  /* background-color: var(--bg-color-light); */
  background: linear-gradient(to bottom, #fafafa 0%, #d7dde8 100%);
  color: var(--text-main);
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  background-image: url("https://grainy-gradients.vercel.app/noise.svg");

  opacity: 0.05; 
  pointer-events: none;
  z-index: 9999;
} */
