.skills-section {
  background: linear-gradient(
    to bottom,
    #13222e 0%,
    #3b5a69 40%,
    #9cbcc9 80%,
    #e8f4f8 100%
  );
  padding: 0px 20px;
  overflow: hidden; /* Cắt phần thừa nếu chữ quá to */
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.skills-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;

  -webkit-mask-image: linear-gradient(to top, black 20%, transparent 100%);
  mask-image: linear-gradient(to top, black 20%, transparent 100%);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.55);
  border: none;

  z-index: 3;
  pointer-events: none;

  transform: translate3d(0, 0, 0);
  contain: paint;
}

.tab-pane {
  display: none; 
  animation: fadeIn 0.6s ease forwards;
  position: absolute;
  inset:0;
}

.tab-pane.active {
  display: block; 
}

/* Thanh dieu khien skills */
.tab-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; 
  margin-bottom: 20px;
  
  --animation-state: running; 
  z-index: 100;
}

/* Cục đen bo tròn chứa các dots */
.dots-wrapper {
  background-color: #2c2c2e; 
  padding: 12px 18px;
  border-radius: 40px; 
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Các chấm tròn mặc định (Chưa active) */
.apple-dot {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #86868b; 
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  overflow: hidden;
  
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.apple-dot.active {
  width: 40px; 
  background-color: rgba(255, 255, 255, 0.3); 
}

/* Thanh tiến trình màu trắng chạy bên trong chấm active */
.apple-dot .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #ffffff; 
  border-radius: 10px;
}

.apple-dot.active .progress {
  animation: fillProgress 6.25s linear forwards; 
  
  animation-play-state: var(--animation-state); 
}

@keyframes fillProgress {
  0% { width: 0%; }
  100% { width: 100%; }
}

/* NÚT PLAY/PAUSE BÊN CẠNH */
.apple-play-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #2c2c2e;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.apple-play-btn:hover {
  background-color: #3a3a3c; 
  transform: scale(1.05);
}