.taskbar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
}

.menu_taskbar {
  pointer-events: auto;

  position: relative;
  left: 50%;
  top: 20px;

  color: rgb(29, 29, 31);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 8px;

  width: max-content;
  max-width: 90%;
  height: auto;

  background-color: rgba(255, 255, 255, 0.15);

  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  transform: translate3d(-50%, 0, 0);
  contain: paint;
  z-index: 2;
}

.menu-indicator {
  position: absolute;
  height: calc(100% - 10px); /* Trừ hao padding trên dưới của cha (5px*2) */
  top: 5px; /* Canh chỉnh cho vừa khung */
  left: 0; /* Vị trí ban đầu */

  background-color: white; /* Màu nền của viên thuốc */
  border-radius: 48px; /* Bo tròn giống nút */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  /* ANIMATION THẦN THÁNH Ở ĐÂY */
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* Hiệu ứng 'cubic-bezier' này tạo cảm giác nảy nảy (bouncy) rất vui mắt */

  z-index: 1;
}

.button_menu_taskbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* giữ cho khung không bị phình ra bởi padding */
  gap: 8px;
  padding: 10px 24px;

  color: rgb(29, 29, 31);
  text-decoration: none;
  white-space: nowrap; /* cấm xuống dòng */
  font-size: 14px;
  font-weight: 500; /*độ đậm chữ bình thường*/

  border-radius: 48px; /* bo tròn nút */
  transition: all 0.3s ease; /* hiệu ứng chuyển mượt */
  cursor: pointer;
  z-index: 2;
}

.button_menu_taskbar:hover {
  color: #ffffff;
}

.button_menu_taskbar.active {
  background-color: transparent;
  color: black;
  font-weight: 600;
}
