.tech-hero-section {
  background: linear-gradient(
    to bottom,
    #13222e 0%,
    #3b5a69 40%,
    #9cbcc9 80%,
    #e8f4f8 100%
  );
  padding: 0px 20px;
  overflow: hidden; /* Cắt phần thừa nếu chữ quá to */
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.tech-hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;

  -webkit-mask-image: linear-gradient(to top, black 20%, transparent 100%);
  mask-image: linear-gradient(to top, black 20%, transparent 100%);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.55);
  border: none;

  z-index: 3;
  pointer-events: none;

  transform: translate3d(0, 0, 0);
  contain: paint;
}

.taskbar-skills {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  justify-items: center;

  box-sizing: border-box;
  padding: 10px;

  position: absolute;
  bottom: 20px;

  background-color: rgba(255, 255, 255, 0.15);

  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  transform: translate3d(0, 0, 0);
  contain: paint;

  z-index: 100;
}

.taskbar-skills h2 {
  padding: 0;
  margin: 0;
}

.tech-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.layer {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Chu tech stack */
.tech-header {
  z-index: 1;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-text {
  position: relative;
  width: 100%;
  max-width: 1400px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 120px;
  font-weight: 900;
  line-height: 1;
  color: #e2e8f0;
  opacity: 0.15;
  z-index: 1;
  user-select: none; /* Không cho bôi đen chữ */
}

.text-tech {
  text-align: left;
  transform: translateX(5%);
  margin-left: 50px;
}

.text-stack {
  text-align: right;
  transform: translateX(-50%);
  margin-right: 50px;
}

/* Ảnh Robot */
.tech-visual {
  flex: 1;
  position: relative;
  z-index: 2;
}

.robot-wrapper {
  bottom: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.robot-img {
  height: 85%;
  width: auto;
  object-fit: contain;
  object-position: bottom center;
  filter: drop-shadow(0 30px 40px rgba(0, 0, 0, 0.15));
}

/* phan noi dung tech stack */

.tech-title {
  width: 50vw;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 50px;

  z-index: 10;
  margin-bottom: 60px;
  margin-left: 40px;
}

.soft-card-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.soft-card-right a {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.soft-card-right a:hover {
  transform: translateY(-5px);
}

.tech-box-project {
  background-color: rgba(191, 219, 254, 0.15);
  border: 1px solid rgba(191, 219, 254, 0.3);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;

  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  transform: translate3d(0, 0, 0);
  contain: paint;
}

.tech-box-project span {
  font-size: 30px;
  font-weight: 1000;
}

.tech-box-project,
.tech-box-github h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.tech-box-github {
  background-color: rgba(255, 255, 255, 0.15);

  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  /* background-color: rgb(107, 114, 128); */
  color: #1a202c;

  transform: translate3d(0, 0, 0);
  contain: paint;
}

.tech-title h2 {
  font-size: 32px;
  color: #000000;
  font-weight: 500;
}

.tech-title span {
  font-weight: 700;
}

.text-Arsenal {
  font-size: 64px;
  font-weight: 900;
}

/* phan ben trai */

.tech-content {
  width: auto;
  max-width: 50vw;
  display: grid;
  height: auto;
  max-height: 60%;

  grid-template-columns: 1fr 1fr; /* Chia 2 cột nhỏ */
  gap: 20px;
  z-index: 10;
  justify-self: right;
  margin-right: 5%;
  margin-top: 5%;
}

.soft-card {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.3s ease;

  transform: translate3d(0, 0, 0);
  contain: paint;
}

.soft-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.6);
}

.main-card {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 15px;
}

.list-card {
  grid-column: span 2;
}

.icon-box {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.dark {
  background: #1a202c;
  color: #fff;
}
.web {
  background: #fefcbf;
  color: #d69e2e;
}
.db {
  background: #c6f6d5;
  color: #276749;
}

.soft-card h3 {
  margin: 0;
  font-size: 18px;
  color: #2d3748;
}
.soft-card h4 {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #2d3748;
}
.soft-card p {
  margin: 0;
  font-size: 13px;
  color: #1a202c;
}

.list-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.list-card li {
  color: #1a202c;
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Mobile: Xếp chồng lên nhau */
@media (max-width: 900px) {
  .tech-container {
    flex-direction: column; /* Xếp dọc */
    padding-top: 40px;
  }

  .tech-visual {
    height: 400px;
    width: 100%;
  }

  .big-text {
    font-size: 80px;
  }
  .robot-img {
    height: 100%;
  }
}
